/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}
html {
  cursor: auto !important;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0 !important;
}


$fadeUp: 100px;
$fallDown: -200px;
$delay: 50ms;
$duration: 5s;



span {
    display: inline-block;
}

.nav-item1 {
  font-weight: 600;
  color:rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  position: relative;
  display: inline-block;
}

.nav-item1:hover {
  color: rgba(0, 0, 0, 0.7);
}

.nav-item1:after{
  content: "";
  position: absolute;
  left: 12%;
  top: 80%;
  width: 0;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: width .3s ease-in-out;
}

.nav-item1:hover:after {
  width: 80%;
}


.nav-item2{
  color: #222 !important 
}

.nav-item2:after{
  background-color: #191919 !important
}

#home {
  overflow: auto;
  position: relative;
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: relative;
}

.home-title {
  padding-top: 4.5em;
  color: rgba(0, 0, 0, 0.7);
  font-weight:700;
  font-size: 3.2rem;
  text-align: left;
  margin-left: 8rem;
}

.home-text{
  color: rgba(0, 0, 0, 0.6);
  font-weight:500;
  font-size: 1.3rem;
  text-align: left;
  margin-left: 8.2rem;
}

.mouse {
  max-width: 1.6rem;
  width: 100%;
  height: auto;
}

.mouse-scroll {
  margin-top: 14rem;
}
.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

.scroll-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes scroll {
  0%,
  20% {
    transform: translateY(0) scaleY(1);
  }

  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}

.about{
  padding-top: 6em;
  padding-left: 8rem;
  padding-right: 5em;
  background-color: #f8f8f8;
  height: 100%;
  width: 100%;
  padding-bottom: 5rem;
  position: relative;
}

.about-title{
  color:#b19386;  
  font-size: 2.5rem;
  font-weight: 600;
  text-align: left;
}

.about-content{
  margin-top: 1rem;
  font-weight: 400;
  text-align: left;
}

.about-intro {
  width: 40%;
  float: left;
  font-size: 1.2rem;
  font-weight:500;
  line-height: 2vw;
}

.skills-container{
  float: left;
  margin-top: 6rem;
  width: 100%;
  height: 100%;
}

.skills-big-title{
  color:#b19386;  
  font-size: 2rem;
  margin-bottom: 3rem;
}
.skills-title{
  float:left;
  width: 20%;
}

.skills-details{
  font-size: 0.8rem;
}
#skills-details-1, #skills-details-2, #skills-details-3, #skills-details-4 {
  overflow: hidden;
  max-width: 0%;
  transition: max-width .25s ease-in;
  white-space: nowrap;
}

#skills-title-1:hover + #skills-details-1, 
#skills-title-2:hover + #skills-details-2,
#skills-title-3:hover + #skills-details-3,
#skills-title-4:hover + #skills-details-4{
  max-width: 100%;
}
#skills-title-1:hover:after {
  width: 5%;
}

#skills-title-1, #skills-title-2 , #skills-title-3, #skills-title-4{
  background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 2px 
    no-repeat;
  transition:0.5s;
}
#skills-title-1:hover, #skills-title-2:hover , #skills-title-3:hover ,#skills-title-4:hover {
  --d: 85%;
}

.about-timeline{
  margin-left: 35rem;
}

.timeline-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.timeline {
  width: 80%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 0.8rem;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 20px;
  margin-bottom: 0.8rem;
}
.timeline-content p {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 0.8rem;
  letter-spacing: 2px;
  color: #000;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 1rem;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
}

.contact{

  padding-top: 6em;
  padding-left: 8rem;
  height: 60%;
  padding-right: 5em;
  background-color: white;
  min-height: 60%;
  width: 100%;
  position: relative;
}
.contact-title{
  color:#b19386;  
  font-size: 2.5rem;
  font-weight: 600;
}
.contact-email{
  margin-top: 2rem;
  font-family: 'Inter', sans-serif;
  color: rgba(0, 0, 0, 1.0);
  font-weight:500;
  font-size: 1rem;
  text-align: left;
}

.contact-visit{
  color: rgba(0, 0, 0, 0.6);
}
.contact-visit:hover{
  text-decoration: none;
  color:rgba(0, 0, 0, 0.4);
}
.end-footer{
  color:white;
}




//resume modal
.resume-btn{
  background-color: #191919;
  color: white;
  border: 2px solid #191919;
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0px;
  line-height: 1vw; 
  padding: 1vw 1.3vw;
}
.resume-btn:hover{
    background-color: white;
    color: #191919;
}

.resume-btn:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

.outro{
  background-color: #000;
  height:40%;
  padding-left: 8rem;
}

.outro-name{
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 7vw;
}

.outro-text{
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 1vw;
  line-height: 25px;
}

.outro-link{
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 800;
  padding-top: 3vw;
  padding-bottom: 3vw;
  text-decoration: none;
}
.outro-link:hover{
  text-decoration: none;
  color: rgb(247,247,247);
}

/* ============ .contact-form CSS grid ============ */

/* contact form CSS grid layout */
.contact-grid {
  display: grid;
  grid-template-columns: 40%;
  grid-gap: 35px;
}

/* grid item */
.submit-button {
  justify-self: center;
}

@media screen and (min-width: 736px) {
  
  .contact-grid {
    margin-left: 34%;
    display: grid;
    grid-template-columns: repeat(1, 52%);
    grid-template-rows: auto;
    grid-gap: 35px;
  }

  /* --- grid items --- */
  .comment-box {
    grid-column: 1 / -1;
  }
  
  .submit-button {
    justify-self: start;
  }
  
}

/* ============ form styles ============ */

/* adds space on top for label */
.contact-form {
  margin-top: 30px;
}

/* positioning .form-field relative, so .lable can be positioned on-top (absolute) */
.form-field {
  position: relative;
}

/* label styles */
.label {
  position: absolute;
  left: 0;
  top: -25px;
  line-height: 26px;
  font-weight: 400;
  text-transform: capitalize;
  color: #555;
  cursor: text;
}

/* input styles */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {

  border: none;
  height: 40px;
  padding: 0 10px;
  width: 100%;
  background-color: rgb(247,247,247);
  color: rgb(85,85,85);
}

/* text area styles */
textarea {
  height: 140px !important;
  padding: 10px 10px;
  
}


/* ============ submit button styles ============ */
.btn {
  background-color: #191919;
  color: white;
  border: 2px solid #191919;
  display: inline-block;
  padding: 12px 30px;
  min-width: 100px;
  margin-top: 15px;
  font-weight: 500;
  margin-left: 40%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: white;
  color: #191919;
}

.btn:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}



/* ============ universal styles ============ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}








/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .mouse{
      width: 70%; 
    }
    .mouse-scroll{
      padding-top:25vw;
    }
    #home{
      min-height: 80%;
      height:80%;
    }
    .about{
      padding-left: 7vw;
    }
    .about-skills{
      line-height: 2vw;
    }
    .contact-visit{
      font-size: 1rem;
      margin-top: -2vw;
    }
    .resume-btn{
      font-size: 1.5vw;
    }
    .contact{
      min-height:30%;
      height:30%;
      padding-left: 7vw;
    }
    .end-footer{
      font-size: 1rem;
    }
    .outro-text{
      line-height:2vw;
    }
    .outro{
      height: 15%;
    }
  }

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
